@model IEnumerable<CategoryModel>

@foreach(var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">

@*This mean go to controller Category and Execute Index() *@
            <h4 class="panel-title"><a asp-action-"Index" asp-controller="Category" asp-route-deptraikhong ="true"asp-route-Slug="@item.Slug">@item.Name</a></h4>
        </div>
    </div>
}